<!DOCTYPE html>
<html>
<head>
    <%-include("./cover_css.ejs")%>
</head>
<body>
    <div class="bgimg">
      <h3>Vaccine Vehicle<br>Transport Monitoring</h3>
      <a class="btn btn-light btn-lg" href="/car_manage">시작</a>
    </div>
    <div style="padding-top: 40px;">
      <h5><b>백신 차량 관리 및 실시간 온습도 모니터링 서비스</b></h5><br>
      <p>OneM2M기반으로 제작된 이번 프로젝트는 기기제작, 서버구축, 시각화 모두 직접 제작하였으며 <br> 모든것이 인터넷으로 연결되어 정보 수집, 관리, 공유를 모두 인터넷 상에서 처리가 가능합니다.</p>
    </div>
    <div>
      <img src="https://i.esdrop.com/d/npl8azuotxxz/ixwXGHMEL8.png">
      <h4 class="pi">Raspberry Pi</h4>
      <h4 class="vm">Vaccine Monitoring</h4>
      <h4 class="cg">Chart Graph</h4>
    </div>
    <br><hr><br>
    <div>
      <h6><b>- 개발 언어 -</b></h6>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
            <img src="https://i.esdrop.com/d/npl8azuotxxz/1v7CVV0hng.jpg" width="200px" height="200px">
          </div>
          <div class="col col-lg-2">
            <img src="https://i.esdrop.com/d/npl8azuotxxz/nByohsO6BQ.png" width="200px" height="200px">
          </div>
          <div class="col col-lg-2">
            <img src="https://i.esdrop.com/d/npl8azuotxxz/DahuVWwtrN.png" width="200px" height="200px">
          </div>
          <div class="col col-lg-2">
            <img src="https://i.esdrop.com/d/npl8azuotxxz/LwWM7pBjfq.jpg" width="200px" height="200px">
          </div>
          <div class="col col-lg-2">
            <img src="https://i.esdrop.com/d/npl8azuotxxz/xfaLhtyV32.png" width="200px" height="200px">
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4 class="om">OneM2M</h4>
      <h4 class="rp">Raspberry Pi</h4>
      <h4 class="nj">Node.js</h4>
      <h4 class="ms">MySQL</h4>
      <h4 class="na">Naver Map API</h4>
    </div>
</body>
<footer>
    <%-include("./footer.ejs")%>
</footer>
</html>