<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.88.1">
<title>Vaccine Vehicle Transport Monitoring</title>

<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/footers/">

<!-- Bootstrap core CSS -->
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
  span{
    font-family: 'Gowun Batang', serif;
  }
</style>

<!-- Custom styles for this template -->
<link href="footers.css" rel="stylesheet">

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2021 Project Team 03</span>
    </div>
  </footer>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>