<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.84.0">
<title>Vaccine Vehicle Transport Monitoring</title>

<!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- 부트스트랩 링크 복사 -->

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  a.nav-link{
  color: rgb(0,0,0);
  font-weight: 700;
  font-size: 20px;
  border-bottom-color: rgb(0,0,0);
 }

 a.nav-active{
   color: #000;
   font-weight: 700;
   border-bottom: 2px solid #3cb371;
 }

 a.nav-link:hover{
   color: gray;
   font-weight: 700;
 }

 @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');
 a, a.nav-link, a.active{
  font-family: 'Gowun Batang', serif;
 }
 .bg-gray{
   background-color: #F5F5F5;
 }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-gray">
  <div class="container">
    <a class="navbar-brand" href="/map"><img src="https://i.esdrop.com/d/npl8azuotxxz/JjpnO5Rd8v.svg" height="68px" width="68px"></a>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/cover">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/car_manage">차량관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/map">지도</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/tra_info">운송정보</a>
        </li>
    </ul>
  </div>
</nav>